@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  font-family: "Lobster", cursive;
}
body {
  background-image: url("./images/pinkbackground.png");
  font-family: "Lobster", cursive;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

h1 {
  color: #694ac9;
}

.navbar {
  /* border: 1px solid #ccc; */
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: purple;
  font-size: 20px;
  font-weight: 100;
  font-family: "Lobster", cursive;
}

.links {
  margin-left: 25px;
  color: purple;
}

.navbar li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #694ac9;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  color: purple;
}

.projects {
  display: inline-block;
  padding: 50px;
}

#personal_photo {
  display: block;
  margin: auto;
  padding: 15px;
  border: 5px solild purple;
  border-radius: 35px;
  background-color: rgb(100, 199, 199);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

img {
  border: solid darkslategray;
  border-width: thick;
}

.mx-auto {
  margin: 0 auto;
  color: #694ac9;
  font-size: large;
  font-weight: bold;
  font-size: 35px;
  padding: 25px;
  padding-right: 25px;
}

p {
  color: slateblue;
  text-align: center;
  padding: 25px;
  font-size: 19px;
}

button {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px #694ac9;
}

button:hover {
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 12px #694ac9;
}

h6 {
  padding-right: 550px;
  text-align: center;
  float: left;
  color: #694ac9;
  text-align: center;
}

h3 {
  color: #694ac9;
  text-align: center;
}

.projects {
  flex-direction: row;
  text-align: center;
  border-spacing: 35px;
}
.navbar {
  text-align: center;
  position: relative;
  display: inline-block;
}
